<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :made_by %>
  <%= f.text_field :made_by %>
</p>

<p>
  <%= f.label :primary_skill %>
  <%= f.text_field :primary_skill %>
</p>

<p>
  <%= f.label :ascendancy %>
  <%= f.text_field :ascendancy %>
</p>
