<h1><%= @build.name %></h1>
<h3>Made by <%= @build.made_by %></h3>

Primary skill: <%= @build.primary_skill %> <br />
Ascendary: <%= @build.ascendancy %> <br />

<%= link_to "Back to builds", root_path %>
